<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>HeartechoHALDriver</string>
    <key>CFBundleIdentifier</key>
    <string>com.heartecho.Heartecho.Driver</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Heartecho</string>
    <key>CFBundleIconFile</key>
    <string>HeartechoDriver</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>4A3D5E5B-73A2-41B7-9B7D-7C3D9BB4E5E1</key>
        <string>HeartechoHALDriverFactory</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>4A3D5E5B-73A2-41B7-9B7D-7C3D9BB4E5E1</string>
        </array>
    </dict>
</dict>
</plist>
